body {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
main {
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    align-items: center;
padding: 40px 20px;
margin-top: 40px

}
.text {
    text-align: center; 
}
.tables {
    text-align: left;
    flex: 1;
}

h1 {
font-size: 1.8em;
}
h2 {
    font-size: 1em;
    color:rgb(185, 252, 131);
    font-weight: 400;
}

h3 {
    font-size: .8em;
    font-weight: 400;
}

table {
    background-color: rgb(88, 88, 88);
    border: none;
    border-collapse: collapse;
}
td, th {
    border: 4px solid  rgb(78, 78, 78);
    padding: 10px
}
.bg {
    background-color: rgb(105, 105, 105);
}
a {
    color:rgb(185, 252, 131);
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: rgb(154, 218, 102);
    text-decoration: none;
    font-weight: 300;
}
.title {
    text-align: center;
    border: 4px solid  rgb(78, 78, 78);
    padding: 10px
}

@media screen and (max-width: 642px) {
    th, td  {
        font-size: 0.8em;
        padding: 10px;
    }
}